@{
    ViewBag.Title = "About Cinema Store";
}
<img src="~/Media/bg.jpg" style="position:absolute; height:90vh;"/>
<div style="        z-index: 100;
        position: absolute;
        right:180px;
        height:90vh;
        display:flex;
        justify-content:center;
        align-items:flex-start;
        flex-direction:column;
">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</div>


@*<p>Use this area to provide additional information.</p>*@
